<div class="rightCol">


<h1>New edition</h1>

<% form_for @edition, :url => admin_competition_editions_path(params[:competition_id]) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Cancel', admin_competitions_path %>
</div>