<%= form.error_messages %>

  <p>
    <%= form.label :name %><br />
    <%= form.text_field :name %>
  </p>

  <p>
    <%= form.label :blip %><br />
    <%= form.text_area :blip, :class => "ckeditor-panel" %>
  </p>


