<div class="rightCol">

<h1>New store item</h1>

<% form_for [:admin, @store_item], :html => { :multipart => true} do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>

  <p>
    <%= f.label :description %><br />
    <%= f.text_area :description, :class => "ckeditor-panel" %>
  </p>

  <p>
    <%= f.label :paypal %><br />
    <%= f.text_area :paypal %>
  </p>

  <p>
    <%= f.label :image %><br />
    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Cancel', admin_airings_path %>
</div>

