<div id="comment_<%= comment.id %>" class="player_comment">
  <%= nl2br( h(comment.comment) ) %>
  <br/>
  Posted
  <%= "by #{comment.name}" unless comment.name.nil? || comment.name.blank?%>
  <%= "from #{comment.location}" unless comment.location.nil? || comment.location.blank? %>
  at <%= comment.created_at.strftime("%m/%d/%Y") %>
</div>