<% content_for :stylesheets do %>
  #leftCol {display: none}
<% end -%>
<%= link_to "Collections", admin_collections_path %>
<div>
<h1>Editing collection</h1>
<% form_for([:admin,@collection]) do |f| %>

  <p>
    <%= f.label :name, 'Name', :class => "desc" %> <br />
    <%= f.text_field :name %>
  </p><br />
  <p>
    <%= f.label :description %> <br/>
    <%= f.text_area :description %>
  </p> 

      <p>
        <%= f.submit 'Update' %>
        <%= link_to 'Back', admin_collection_url(@collection) %>
      </p>

<% end %>
</div>

