<div class="rightCol">


<h1>Edit sidebar tile</h1>

<% form_for [:admin, @side_bar_tile], :html => { :multipart => true} do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>

   <p>
    <%= f.label :link %><br />
    <%= f.text_field :link %>
  </p>
  
  <p>
    <%= link_to f.object.file_file_name, f.object.file.url if f.object.file.exists? %>
    <br>
    <%= f.label :file %><br />
    <%= f.file_field :file %>
  </p>
  
  <p>
    <%= f.submit 'Save' %>
  </p>
<% end %>

<%= link_to 'Cancel', admin_side_bar_tiles_path %> | <%= link_to 'Delete', admin_side_bar_tile_path(@side_bar_tile), :method => :delete, :confirm => "Are you sure you?" %>
</div>

