<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
	"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
	<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
      <!--<script type="text/javascript"  src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
      <script type="text/javascript"  src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.7.2/jquery-ui.min.js"></script>-->

      <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
      <script type="text/javascript"  src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.18/jquery-ui.min.js"></script>

      
  <meta name="google-site-verification" content="OzxDusfK0ce5HzVlK9ykZxDmvWrqM31dtVoGZKDs38c" />          
  <%= include_javascripts :workspace %>
      
  <%=  include_stylesheets :workspace, :home, :media => "all" %>
  <%=  include_stylesheets :print, :media => "print" %>
  
  <%= render "shared/feeds" %>
  
    <link rel="SHORTCUT ICON" href="/favicon.ico"/>  
    <title><%= @page_title = "Third Coast International Audio Festival" %></title>
  </head>
	<!--[if lt IE 8]>
	<script src="http://ie7-js.googlecode.com/svn/version/2.0(beta3)/IE8.js" type="text/javascript"></script>
	<![endif]-->
    <body>
    <div id="container" class="clearfix">
         <%= yield -%>

      <%= render "shared/footer" %>
      <%= render "shared/popup" if @popup %>
    </div>
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
try {
var pageTracker = _gat._getTracker("UA-15066679-1");
pageTracker._trackPageview();
} catch(err) {}</script>
    </body>

</html>