<% content_for :stylesheets do %>
  #leftCol {display: none}
<% end -%>
<div class="contentHeaderEvent">
  <div>
    <%= link_to 'Corporate Donors', admin_donors_path, { :title => "Back to Corporate Donor List", :class => 'buttonColor' } %>
  </div>
  <div>
    <h3>Name: <%=h @donor.name %></h3>
    <%= link_to 'Edit', edit_admin_donor_path(@donor)%>
  </div>
</div>
<div class="container">
   <div class="block">
    <b>Name:</b>
    <%= h @donor.name %>
  </div>

  <div class="block">
    <b>Corporate Donor Picture:</b>
    <% if @donor.photo.exists? %>
      <%= image_tag @donor.photo.url(:small) %>
    <% else %>
      -
    <% end %>
  </div>

   <p>
    <%= link_to 'Edit', edit_admin_donor_path(@donor)%>
    |
    <%= link_to 'Back', admin_donors_path %>
  </p>
  
</div>